* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


nav ul {
  background: #444;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  background: #fff;
}

#about {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#about>div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 60%;
}

#about>div>img {
  max-width: 35%;
 height: 40%;

}

#home {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}

#home h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#home p {
  font-size: 1rem;
  margin: 0;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  width: 100%;
}

.project-card {
  background: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  width: calc(30% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card h3 {
  margin: 15px 0;
  font-size: 1.5rem;
}

.project-card p {
  margin-bottom: 15px;
}

.project-card a {
  text-decoration: none;
  color: #007BFF;
}

.project-card a:hover {
  text-decoration: underline;
}

.project-img {
  width: 100%;
  height: auto;
 max-height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .project-card {
    width: 100%;
  }
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
  #about>div {
    flex-direction: column;
    width: 100%;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  #about>div>img {
    max-width: 80%;
    height: auto;
    
  }
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}